@model Eyrebot.Models.BinanceCurrencyDetailsModel

@{
    ViewData["Title"] = "Binance currency details";
}


<div class="row">
    <div class="col-md-12">
        <h2>24h ticker price change for @ViewBag.Name</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <p>Last purchase price:</p>
        <h2>$@Html.ValueFor(model => model.LastPrice)</h2>
        <h2>$@Html.ValueFor(model => model.PriceChangePercent) %</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <p>Weighted average price:</p>
        <h2>$@Html.ValueFor(model => model.WeightedAvgPrice)</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <p>Previous close price:</p>
        <h2>$@Html.ValueFor(model => model.PrevClosePrice)</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <p>High:</p>
        <h2>$@Html.ValueFor(model => model.HighPrice)</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <p>Low:</p>
        <h2>$@Html.ValueFor(model => model.LowPrice)</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <p>Volume:</p>
        <h2>$@Html.ValueFor(model => model.Volume)</h2>
    </div>
</div>